<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <ion-header >
    <ion-toolbar>
      <ion-title size="large">Ajustes de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div class="action-buttons">      
      <ion-button href="/tabs/userConfig">Configuración</ion-button>
      <ion-button id="delete-alert" color="danger">Eliminar usuario</ion-button>
      <ion-button (click)="logOut()" color="medium">Cerrar sesión</ion-button>
    </div>
  </ion-list>

  <ion-alert
    trigger="delete-alert"
    header="Eliminar usuario"
    message="Esta acción puede ser irreversible, ¿estás seguro de que quieres eliminar este usuario?"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>
