<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <ion-header >
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-input 
      [(ngModel)]="data.name" 
      [clearInput]="true" 
      label="Nombre de usuario" 
      label-placement="floating" 
      fill="outline" 
      placeholder="Enter text" 
      (ionBlur)="validateName()"
      (ionInput)="validateName()"
      [class]="nameValid ? 'valid' : 'invalid'"
    ></ion-input>

    <ion-input 
      [(ngModel)]="data.email" 
      [clearInput]="true" 
      label="Correo" 
      label-placement="floating" 
      fill="outline" 
      placeholder="Enter text" 
      (ionBlur)="validateEmail()"
      (ionInput)="validateEmail()"
      [class]="emailValid ? 'valid' : 'invalid'"
      type="email"
    ></ion-input>

    <ion-input 
      [(ngModel)]="data.password" 
      [clearInput]="true" 
      label="Contraseña" 
      label-placement="floating" 
      fill="outline" 
      placeholder="Enter text" 
      (ionBlur)="validatePassword()"
      (ionInput)="validatePassword()"
      [class]="passwordValid ? 'valid' : 'invalid'"
      type="password"
    ></ion-input>

    <ion-input 
      [(ngModel)]="confirmPassword" 
      [clearInput]="true" 
      label="Confirmar contraseña" 
      label-placement="floating" 
      fill="outline" 
      placeholder="Enter text" 
      (ionBlur)="validatePassword()"
      (ionInput)="validatePassword()"
      [class]="passwordValid ? 'valid' : 'invalid'"
      type="password"
    ></ion-input>

    <div class="action-buttons">     
      <ion-button color="medium" href="">Cancelar</ion-button> 
      <ion-button [disabled]="!isFormValid()" (click)="register(data)">Registrarse</ion-button>
    </div>
  </ion-list>

  <ion-label class="error-message">{{errorMessage}}</ion-label>
</ion-content>
