<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="homeMovies" href="/tabs/homeMovies">
      <ion-icon aria-hidden="true" name="film-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="userSettings" href="/tabs/userSettings">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
