<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="userSettings" href="/tabs/userSettings">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
